{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form action="/register" method="post">
    <div class="mb-3">
        <label for="status">User Account Type:</label>
        <p></p>
        <label><input type="radio" id="engineer" name="status" value="engineer">Machine Learning Engineer</label>
        <label><input type="radio" id="admin" name="status" value="admin">Administrative Use</label>
        <label><input type="radio" id="master" name="status" value="master">Master Access</label>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
</form>
{% endblock %}